/*Reset margins, paddings, and box-sizing for all elements*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Define root variables for consistent styling values*/
:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--depth: 4000px;
	--transition: .75s cubic-bezier(.075, .5, 0, 1);
}

/*Hide the scrollbar in both Firefox and Safari/Chrome*/
body {
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}
